<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/login/success" method="get">
        <table align="center">
            <tr>
                <td>email:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td align="center"><input type="submit" value="登录"></td>
            </tr>
        </table>
    </form>
    <hr/>

    <form action="/postLogin/success" method="post">
        <table align="center">
            <tr>
                <td>email:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td align="center"><input type="submit" value="登录"></td>
            </tr>
        </table>
    </form>
</body>
</html>